* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'retro_computerregular';
    src: url('../retro_computer_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(57,38,136);
    color: hsl(181,46%,67%);
    font-family: 'retro_computerregular';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container {
    position: relative;
    border-top: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.main-container::-webkit-scrollbar {
    display: none;
}
.inner-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 80px);
}

.postsContainer {
    width: 67%;
}

.post-container {
    height: 100%;
    overflow: scroll;
}

.otherContainer {
    width: 33%;
}

.otherText {
    margin: 0px 0px 40px 0px;
    padding: 0;
    font-size: 14px;
    color: rgba(131,208,209,0.5)
}
.stuffContainer a {
    display: inline-block;
    margin-left: 0px;
    font-size: 18px;
    border: none;
}
.contact-a {
    font-size: 18px;
}

.recentPosts,
.stuffContainer {
    position: relative;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 15px;
    height: 100%;
    border-top: solid 1px hsl(181,46%,67%);
}

.stuffContainer {
    padding: 25px;
}

.recentPosts {
    border-right: solid 1px hsl(181,46%,67%);
}

.recentPosts::-webkit-scrollbar,
.stuffContainer::-webkit-scrollbar {
    display: none;
}


h1 {
    margin: 30px 0px 30px 0px;
    text-align: center;
    width: 100%;
}
h2 {
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

a, .userName, .homeUserForm {
    font-size: 24px;
    color: hsl(181,46%,67%);
}
a:hover,
a:focus {
    background-color: hsl(181,46%,67%);
    color: rgb(57,38,136);
}

h3, .userLink {
    font-size: 18px;
    margin-bottom: 12px;
    border: none;
}
.userLink {
    width: auto;
    text-decoration: underline;
    margin: auto;
    height: auto;
    cursor: pointer;
}

span {
    text-align: center;
    font-size: 14px;
    color: rgba(131,208,209,0.5)
}
.scrollText {
    display: inline-block;
    width: 100%;
    text-align: center;
}

ul {
    margin-top: 70px;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    padding: 15px;
    border-bottom: solid 1px hsl(181,46%,67%);
}
.navMobile {
    background-color: rgb(57,38,136);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 90vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 24px;
    padding: 0;
    z-index: 3;
    border: none;
}
.navMobile a {
    margin: 10px 0px;
}
.menuOpenClose {
    display: none;
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-bottom: solid 1px hsl(181,46%,67%);
    padding: 20px 0px;
    margin: 0;
    font-size: 24px;
    z-index: 10;
}
.menuOpenClose:hover {
    background-color: rgb(57,38,136);
    color: hsl(181,46%,67%);
    text-decoration: underline;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.homeUserForm {
    display: inline-block;
    width: auto;
}


input,
textarea {
    background-color: hsl(181,46%,67%);
    color: rgb(57,38,136);
    margin: 10px;
    border: none;
    height: 50px;
    width: 400px;
    font-family: 'retro_computerregular';
    font-size: 18px;
    opacity: 0.6;
}
input:hover,
textarea:hover {
    opacity: 1;
}
::placeholder {
    font-family: 'retro_computerregular';
}
button {
    margin: 10px;
    border: solid 1px hsl(181,46%,67%);
    height: 50px;
    width: 400px;
    font-family: 'retro_computerregular';
    font-size: 24px;
    background-color: rgb(57,38,136);
    color: hsl(181,46%,67%);
}
button:hover {
    background-color: hsl(181,46%,67%);
    color: rgb(57,38,136);
}

.entry {
    padding: 25px 25px 50px 25px;
    margin-bottom: 50px;
    border-bottom: solid 1px hsl(181,46%,67%);
}

h3, p {
    letter-spacing: 1.5px;
}
p {
    margin-top: 50px;
    line-height: 1.6em;
    font-size: 16px;
    
}
.profileP {
    margin-bottom: 25px;
}

.delete {
    margin: 25px;
    font-size: 18px;
}


/* CREATE BLOG STYLING */

#blog-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

#blog-title,
#blog-content {
    background-color: hsl(181,46%,67%);
    color: rgb(57,38,136);
    margin: 10px;
    border: none;
    width: 60%;
    font-family: 'retro_computerregular';
    font-size: 18px;
}
#blog-content {
    height: 60%;
}
#blog-title {
    height: 50px;
}



::placeholder {
    font-family: 'retro_computerregular';
}
#blog-submit {
    margin: 10px;
    border: solid 1px hsl(181,46%,67%);
    height: 50px;
    width: 90%;
    max-width: 400px;
    font-family: 'retro_computerregular';
    font-size: 18px;
    background-color: rgb(57,38,136);
    color: hsl(181,46%,67%);
}
#blog-submit:hover {
    background-color: hsl(181,46%,67%);
    color: rgb(57,38,136);
}

.entry {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: solid 1px hsl(181,46%,67%);
}



/* CHAT STYLING */

.chat-container {
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    border-top: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 56px);
}

.chat-inner-container {
    position: absolute;
    bottom: 67px;
    width: 100%;
    height: 100%;
}

.chat-messages {
    border-top: solid 1px hsl(181,46%,67%);
    padding-top: 50px;
    height: calc(100% - 55px);
    overflow-y: scroll;
}

#chat-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    height: 70px;
    position: absolute;
    bottom: 0px;
    padding: 0px;
    border-top: solid 1px hsl(181,46%,67%);
}

#chat-form input {
    width: 50%;
    white-space: pre-wrap;
}

#chat-form button {
    width: 200px;
    cursor: pointer;
}

.text {
    margin: 0;
}

.meta {
    margin-top: 35px;
}