@media only screen and (max-width: 1080px) {

    * {
        padding: 0;
        margin: 0;
    }

    html {
        padding: 0;
    }

    @font-face {
        font-family: 'retro_computerregular';
        src: url('../retro_computer_personal_use-webfont.woff2') format('woff2'),
            url('../retro_computer_personal_use-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


    body {
        background-color: rgb(57,38,136);
        color: hsl(181,46%,67%);
        font-family: 'retro_computerregular';
        padding: 0;
        overflow: hidden;
    }
    .main-container {
        border: none;
        margin-top: 15px;
        height: 98%;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: 100%;
        padding: 0px;
    }
    .main-container::-webkit-scrollbar {
        display: none;
    }
    .inner-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
        transform: translateY(40px);
    }
    
    .post-container {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .post-container::-webkit-scrollbar {
        display: none;
    }

    .postsContainer,
    .otherContainer {
        width: 100%;
    }
    .otherContainer {
        display: none;
    }

    .recentPosts,
    .stuffContainer {
        overflow: visible;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 30px 0px;
        height: 70%;
        border: none;
    }
    .recentPosts::-webkit-scrollbar,
    .stuffContainer::-webkit-scrollbar {
        display: none;
    }
    .otherText {
        margin: 0px 0px 40px 10px;
        padding: 0;
        font-size: 16px;
        color: rgba(131,208,209,0.5)
    }
    .stuffContainer a {
        display: inline-block;
        margin-left: 10px;
        font-size: 18px;
        margin-bottom: 12px;
        border: none;
    }


    h1 {
        margin: 80px 0px 10px 0px;
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    h2 {
        text-align: center;
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }

    a, .userName, .homeUserForm {
        font-size: 20px;
        color: hsl(181,46%,67%);
    }
    a:hover,
    a:focus {
        background-color: hsl(181,46%,67%);
        color: rgb(57,38,136);
    }

    h3, .userLink {
        font-size: 20px;
        margin-bottom: 12px;
        border: none;
    }
    .userLink {
        width: auto;
        text-decoration: underline;
        margin: auto;
        height: auto;
        cursor: pointer;
    }

    span {
        text-align: center;
        font-size: 16px;
        color: rgba(131,208,209,0.5)
    }
    .scrollText {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    ul {
        margin-top: 70px;
        list-style: none;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        font-size: 18px;
        padding: 10px;
        border: none;
    }
    .navMobile {
        background-color: rgb(57,38,136);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 18px;
        padding: 0;
        z-index: 3;
        border: none;
    }
    .navMobile a {
        margin: 10px 0px;
    }
    .menuOpenClose {
        display: inline-block;
        width: 100vw;
        height: auto;
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        border-bottom: solid 1px hsl(181,46%,67%);
        padding: 10px 0px;
        margin: 0;
        font-size: 24px;
        z-index: 10;
    }
    .menuOpenClose:hover {
        background-color: rgb(57,38,136);
        color: hsl(181,46%,67%);
        text-decoration: underline;
        cursor: pointer;
    }


    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60%;
    }
    .homeUserForm {
        display: inline-block;
        width: auto;
    }


    input,
    textarea {
        background-color: hsl(181,46%,67%);
        color: rgb(57,38,136);
        margin: 10px;
        border: none;
        border-radius: 0px;
        height: 50px;
        width: 90%;
        font-family: 'retro_computerregular';
        font-size: 24px;
        opacity: 0.6;
    }
    textarea {
        height: 70%;
    }
    input:hover,
    textarea:hover {
        opacity: 1;
    }
    ::placeholder {
        font-family: 'retro_computerregular';
    }
    button {
        margin: 10px;
        border: solid 5px hsl(181,46%,67%);
        height: 50px;
        width: 90%;
        font-family: 'retro_computerregular';
        font-size: 24px;
        background-color: rgb(57,38,136);
        color: hsl(181,46%,67%);
    }
    button:hover {
        background-color: hsl(181,46%,67%);
        color: rgb(57,38,136);
    }

    .entry {
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: solid 1px hsl(181,46%,67%);
    }

    h3, p {
        padding: 0px 10px;
    }
    p {
        line-height: 1.5em;
        font-size: 16px;
        letter-spacing: 1.5px;
    }
    .profileP {
        margin-bottom: 25px;
    }

    .delete {
        margin: 10px;
        font-size: 20px;
    }

    #blog-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60%;
    }

    #blog-title,
    #blog-content {
        background-color: hsl(181,46%,67%);
        color: rgb(57,38,136);
        margin: 10px;
        border: none;
        width: 90%;
        font-family: 'retro_computerregular';
        font-size: 24px;
    }

    .chat-container {
        position: fixed;
        top: 48px;
        overflow: scroll;
        border-top: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 101px);
    }
    
    .chat-inner-container {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }

    .chat-messages {
        height: 100%;
        padding: 0;
        border: none;
    }

    .message {
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .meta {
        margin: 0;
    }


    #chat-form {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        height: 50px;
        position: fixed;
        bottom: 0px;
        padding: 0px;
        border-top: solid 1px hsl(181,46%,67%);
    }

    #chat-form input {
        width: 70%;
        height: 40px;
        font-size: 18px;
        white-space: pre-wrap;
    }
    
    #chat-form button {
        font-size: 18px;
        width: 20%;
        height: 40px;
        cursor: pointer;
        border: solid 1px hsl(181,46%,67%);
    }

}