@media only screen and (max-width: 1080px) {

    * {
        padding: 0;
        margin: 0;
    }

    html {
        padding: 0;
    }


    body {
        padding: 0;
        overflow: hidden;
    }
    .main-container {
        border: none;
        margin-top: 0;
        height: 100%;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: 100%;
        padding: 0px;
        scroll-behavior: smooth;
    }
    .main-container::-webkit-scrollbar {
        display: none;
    }
    .inner-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
        transform: translateY(40px);
    }
    .scroller {
        display: inline-block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: rgb(60, 60, 60);
        width: 50px;
        height: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-radius: 50px;
        box-shadow: 0 0 10px rgb(27, 27, 27);
        line-height: 50px;
        text-align: center;
        font-size: 2em;
    }
    .arrow {
        border: solid rgb(106, 153, 85);;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 5px;
    }
    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    .scrollRef {
        position: absolute;
        top: 0;
        display: inline-block;
        opacity: 0;
        pointer-events: none;
        height: 36px;
    }
    .post-container {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .post-container::-webkit-scrollbar {
        display: none;
    }

    .postsContainer {
        padding-top: 15px;
    }

    .postsContainer,
    .otherContainer {
        width: 100%;
    }
    .otherContainer {
        display: none;
        padding-top: 15px;
    }

    .recentPosts,
    .stuffContainer {
        overflow: visible;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 30px 0px;
        height: 70%;
        border: none;
    }
    .recentPosts::-webkit-scrollbar,
    .stuffContainer::-webkit-scrollbar {
        display: none;
    }
    .otherText {
        margin: 0px 0px 40px 10px;
        padding: 0;
        font-size: 16px;
        color: rgb(79, 79, 79);
    }
    .stuffContainer a {
        display: inline-block;
        margin-left: 10px;
        font-size: 18px;
        margin-bottom: 0px;
        border: none;
        color: rgb(220, 220, 170);
    }


    h1 {
        margin: 80px 0px 10px 0px;
        text-align: center;
        width: 100%;
        font-size: 20px;
    }
    h2 {
        text-align: center;
        width: 100%;
        margin: auto;
        margin-bottom: 0px;
    }

    a, .userName, .homeUserForm {
        font-size: 20px;
        color: rgb(180, 180, 180);
    }
    a:hover,
    a:focus {
        background-color: rgb(180, 180, 180);
        color: rgb(32, 32, 32);
    }

    h3, .userLink {
        font-size: 18px;
        margin-bottom: 12px;
        border: none;
    }
    .userLink {
        width: auto;
        text-decoration: underline;
        margin: auto;
        height: auto;
        cursor: pointer;
    }
    .profile {
        text-decoration: none;
    }

    span {
        text-align: center;
        font-size: 12px;
        color: rgb(79, 79, 79);
    }
    .scrollText {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    ul {
        margin-top: 70px;
        list-style: none;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        border: none;
    }
    .navMobile {
        background-color: rgb(32, 32, 32);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        z-index: 3;
        border: none;
    }
    .navMobile a {
        color: rgb(220, 220, 170);
        margin: 10px 0px;
    }
    .menuOpenClose {
        color: rgb(220, 220, 170);
        background-color: rgb(32, 32, 32);
        display: inline-block;
        width: 100vw;
        height: auto;
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        border-bottom: solid 1px rgb(60, 60, 60);
        padding: 5px 0px;
        margin: 0;
        font-size: 20px;
        z-index: 10;
    }
    .menuOpenClose:hover {
        color: rgb(180, 180, 180);
        text-decoration: underline;
        cursor: pointer;
    }


    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60%;
    }
    .homeUserForm {
        display: inline-block;
        width: auto;
    }


    input,
    textarea {
        background-color: rgb(180, 180, 180);
        color: rgb(32, 32, 32);
        margin: 10px;
        border: none;
        border-radius: 0px;
        height: 50px;
        width: 90%;
        font-size: 24px;
        opacity: 0.6;
    }
    textarea {
        height: 70%;
    }
    input:hover,
    textarea:hover {
        opacity: 1;
    }
    button {
        margin: 10px;
        border: solid 5px rgb(60, 60, 60);
        height: 50px;
        width: 90%;
        font-size: 24px;
        background-color: rgb(32, 32, 32);
        color: rgb(180, 180, 180);
    }
    button:hover {
        background-color: rgb(180, 180, 180);
        color: rgb(32, 32, 32);
    }

    .entry {
        padding: 30px 10px;
        border-bottom: solid 1px rgb(60, 60, 60);
    }
    .entry:last-child {
        margin-bottom: 0px;
    }
    .title {
        font-size: 18px;
    }

    h3, p {
        padding: 0px 0px;
    }
    p {
        line-height: normal;
        font-size: 14px;
        letter-spacing:normal;
    }
    .profileP {
        margin-bottom: 25px;
    }

    .delete {
        margin: 10px;
        font-size: 20px;
    }

    #blog-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60%;
    }

    #blog-title,
    #blog-content {
        background-color: rgb(180, 180, 180);
        color: rgb(32, 32, 32);
        margin: 10px;
        padding: 5px;
        border: none;
        width: 90%;
        font-size: 18px;
    }
    #blog-title {
        height: auto;
    }

    .chat-container {
        position: fixed;
        top: 36px;
        overflow: hidden;
        border-top: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 86px);
    }
    
    .chat-inner-container {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }

    .chat-messages {
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        overflow-y: scroll;
        transition: 0.25s ease-in-out;
    }
    .kbactive {
        position: sticky;
        top: 40vh;
        height: 40vh;
        width: 100vw;
        transition: 0.25s ease-in-out;
    }

    .message {
        padding: 15px 0px;
    }
    .message:nth-child(even) {
        background-color: rgb(30, 30, 30);
    }

    .meta, .meta span, .text {
        margin: 0;
        padding: 0 10px;
        font-size: 12px;
    }


    #chat-form {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        height: 50px;
        position: fixed;
        bottom: 0px;
        padding: 0px;
        border-top: solid 1px rgb(60, 60, 60);
    }

    #chat-form input {
        background-color: rgb(79, 79, 79);
        width: 70%;
        height: 30px;
        font-size: 12px;
        padding: 0px 10px;
        margin-right: 5px;
        white-space: pre-wrap;
        color:rgb(180, 180, 180);
    }
    
    #chat-form button {
        font-size: 12px;
        width: 20%;
        height: 30px;
        margin-left: 5px;
        cursor: pointer;
        border: solid 1px rgb(60, 60, 60);
    }

}