<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/mobile.css">
    <title>New Blog Post</title>
</head>
<body>
    
    <div class="main-container">
        <%- include('./nav'); -%>
        
        <h1>CREATE A NEW ENTRY</h1>
        <form id="blog-form" action="/createBlogEntry" method="POST">
            <input id="blog-title" class="title" name="title" type="text" placeholder="Post title">
            <textarea id="blog-content" class="content" name="content" rows="10" columns="10" type="text" placeholder="Post body"></textarea>
            <button id="blog-submit" type="submit">submit</button>
        </form>
    </div>
    
</body>
</html>