<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="/static/stylesheets/blogCreate.css">
    <link rel="stylesheet" href="/static/stylesheets/mobile.css">
    <title>NEW BLOG ENTRY</title>
</head>
<body>
    <script>
        var toggle = 0;
        function toggleMenu() {
            
            if (toggle == 0) {
                document.querySelector('.menuOpenClose').innerHTML = 'CLOSE';
                document.querySelector('.navMobile').style.display = 'flex';
                document.querySelector('body').style.position = 'fixed';
                toggle = 1;
            } else if (toggle == 1) {
                document.querySelector('.menuOpenClose').innerHTML = 'MENU';
                document.querySelector('.navMobile').style.display = 'none';
                document.querySelector('body').style.position = '';
                toggle = 0;
            } else {
                //do nothing
            }
            
        };
    </script>
    <button onclick="toggleMenu()" class="menuOpenClose">MENU</button>
    <nav class="navMobile">
        <a href="/userProfile">PROFILE</a>
        <a href="/logout">LOGOUT</a>
    </nav>
    <nav>
        <a href="/userProfile">PROFILE</a>
        <a href="/logout">LOGOUT</a>
    </nav>
    <div class="main-container">
        
        <h1>CREATE A NEW ENTRY</h1>
        <form action="/createBlogEntry" method="POST">
            <input class="title" name="title" type="text" placeholder="Post title">
            <textarea class="content" name="content" rows="10" columns="10" type="text" placeholder="Post body"></textarea>
            <button type="submit">submit</button>
        </form>
    </div>
    
</body>
</html>