<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/mobile.css">
    <title>Other Stuff</title>
</head>
<body>
    <script>
        var toggle = 0;
        function toggleMenu() {
            
            if (toggle == 0) {
                document.querySelector('.menuOpenClose').innerHTML = 'CLOSE';
                document.querySelector('.navMobile').style.display = 'flex';
                document.querySelector('body').style.position = 'fixed';
                toggle = 1;
            } else if (toggle == 1) {
                document.querySelector('.menuOpenClose').innerHTML = 'MENU';
                document.querySelector('.navMobile').style.display = 'none';
                document.querySelector('body').style.position = '';
                toggle = 0;
            } else {
                //do nothing
            }
            
        };
    </script>
    <button onclick="toggleMenu()" class="menuOpenClose">MENU</button>
    <nav class="navMobile">
        <a href="/">HOME</a>
        <a href="/userProfile">PROFILE</a>
        <a href="/login">LOGIN</a>
        <a href="/logout">LOGOUT</a>
        <a href="/register">REGISTER</a>
    </nav>
    <nav>
        <a href="/userProfile">PROFILE</a>
        <a href="/login">LOGIN</a>
        <a href="/logout">LOGOUT</a>
        <a href="/register">REGISTER</a>
    </nav>
    <div class="main-container">
        <h1>WELCOME TO THE CUL-DE-SAC</h1>
        <div class="inner-container">
            <div style="display: inline-block;" class="otherContainer">
                <h2>OTHER STUFF</h2>
                <span class="scrollText">scroll for more</span>
                <div class="stuffContainer">
                    <a href="http://www.alexdomzalski.com/skeletonGauntlet/index.html" target="_blank">The Skeleton Gauntlet</a>
                    <p class="otherText">A silly turn-based game about fighting skeletons.</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html> 