<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/mobile.css">
    <title>User Registration</title>
</head>
<body>
    
    <div class="main-container">
        <%- include('./nav'); -%>
        <h1>REGISTRATION</h1>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="USERNAME">
            <input type="password" name="password" placeholder="PASSWORD">
            <button type="submit">login</button>
        </form>
    </div>
</body>
</html>